<!doctype html>
{% load static %}
<html lang="en-US">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Light Theme</title>
<link href="{% static 'styles/singlePageTemplate.css' %}" rel="stylesheet" type="text/css">
<script>var __adobewebfontsappname__="dreamweaver"</script>
<script src="http://use.edgefonts.net/source-sans-pro:n2:default.js" type="text/javascript"></script>
</head>
<body>
<div class="container2">
  <div class="navbar">
    <a href="#"><img src="{% static 'images/logopadanagrana_white.png' %}" alt=""></a>
  </div>
    <div class="menu">
      <a href=""><button>STRONA GŁÓWNA</button></a>
      <a href=""><button>MENU</button></a>
      <a href=""><button>O NAS</button></a>
      <a href=""><button>KONTAKT</button></a>
      <a href="/login"><button>ZALOGUJ SIĘ</button></a>
    </div>
    <div class="section1">
      <h1>Witaj.</h1>
      <h2>Włoska pasja, z polskim wykonaniem.</h2>
      <div class="homepage-buttons">
        <button>ZAREZERWUJ STOLIK</button>
        <button>ZAMÓW ONLINE</button>
      </div>
    </div>
</div>
<div class="container-homepage"></div>
</body>
</html>
