<!doctype html>
{% load static %}
<html lang="en-US">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Light Theme</title>
<link href="{% static 'styles/singlePageTemplate.css' %}" rel="stylesheet" type="text/css">
<script>var __adobewebfontsappname__="dreamweaver"</script>
<script src="{% static 'script.js' %}"></script>
<!--<script src="http://use.edgefonts.net/source-sans-pro:n2:default.js" type="text/javascript"></script>-->
</head>
<body>
<div class="container2">
  <div class="navbar">
    <a href="#"><img src="{% static 'images/logopadanagrana_white.png' %}" alt=""></a>
  </div>
    <div class="menu">
      <a href=""><button>STRONA GŁÓWNA</button></a>
      <a href=""><button>MENU</button></a>
      <a href="#onas"><button>O NAS</button></a>
      <a href="#kontakt"><button>KONTAKT</button></a>
      <a href="/login"><button>PANEL PRACOWNIKA</button></a>
    </div>
    <div class="section1">
      <h1>Witaj.</h1>
      <h2>Włoska pasja, z polskim wykonaniem.</h2>
      <div class="homepage-buttons">
          <a href ="/rezerwacja/"><button>ZAREZERWUJ STOLIK</button></a>
        <a href="/zamow"><button>ZAMÓW ONLINE</button></a>
      </div>
    </div>
</div>
<div class="container3">
    <div class="infobar" id="onas">
        <div class="info">
            <div class="infographic">
                <img src=/static/images/cheese.png alt="">
            </div>
            <div class="infotext">
            <h3>ŚWIEŻE PRODUKTY</h3>
            <p>Bezpośrednio z natury, zawsze świeże i pełne smaku.</p>
            </div>
        </div>
        <div class="info">
            <div class="infographic">
                <img src=/static/images/chef.png alt="">
            </div>
            <div class="infotext">
            <h3>SPECJAŁY SZEFA KUCHNI</h3>
            <p>Wyjątkowe dania, stworzone z pasją i mistrzowską precyzją.</p>
            </div>
        </div>
        <div class="info">
            <div class="infographic">
                <img src=/static/images/glass-with-wine.png alt="">
            </div>
            <div class="infotext">
            <h3>NAJLEPSZE WINO</h3>
            <p>Starannie selekcjonowane, oferuje doskonałość.</p>
            </div>
        </div>
    </div>
    <div class="section2">
        <div class="about-us">
            <div class="about-left">
                <h3>O NAS</h3>
                <h4>Witamy w miejscu, gdzie pasja spotyka smak.</h4>
                <span>Nasza misja to dostarczenie wyjątkowych wrażeń kulinarncyh,
                     opartych na najlepszych winach,
                    świeżych produktach i oryginalnych specjałach
                    szefa kuchni. Zapraszamy do odkrywania smaków,
                    które zachwycą każdego gościa.</span>
            </div>
            <div class="about-right">
                <img src=/static/images/restaurant.png alt="">
            </div>
        </div>
    </div>
</div>
<div class="footer" id="kontakt">
    <div class="logobox2">
        <img src=/static/images/logopadanagrana_white.png alt="">
    </div>
    <div class="description">
        <p>Nasza restauracja</p>
        <span>Odkryj miejsce, gdzie każdy posiłek staje
            się wyjątkowym doświadczeniem. Nasza restauracja
            to przestrzeń pełna smaku i stylu, gdzie tradycja
            łączy się z nowoczesnością, a pasja kulinarna z
            najwyższą jakością składników.</span>
    </div>
    <div class="contact">
        <div class="contactline">
            <h4>Telefon: </h4>
            <p>+48 123 456 789</p>
        </div>
        <div class="contactline">
            <h4>E-Mail: </h4>
            <p>padanagrana.restaurant@gmail.com</p>
        </div>
        <div class="contactline">
            <h4>Adres: </h4>
            <p>ul. Szafrana 2, 65-021 Zielona Góra</p>
        </div>
    </div>
</div>
</body>
</html>
