<!doctype html>
{% load static %}
<html lang="en-US">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>PadanaGrana</title>
<link href="{% static 'styles/singlePageTemplate.css' %}" rel="stylesheet" type="text/css">
<link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
<script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript" async></script>
<script>var __adobewebfontsappname__="dreamweaver"</script>
<script src="{% static 'script.js' %}"></script>
<!--<script src="http://use.edgefonts.net/source-sans-pro:n2:default.js" type="text/javascript"></script>-->
</head>
<body>
<div class="container4">
    
    <div class="food-sort">
        <div class="order-buttons">
            <button onclick="filterTable('Wszystko')" data-active="true">Wszystko</button>
            <button onclick="filterTable('dania glowne')" data-active="false">Dania główne</button>
            <button onclick="filterTable('desery')" data-active="false">Desery</button>
            <button onclick="filterTable('napoje')" data-active="false">Napoje</button>            
        </div>
        
        <div class="basket-button">
            <button>Koszyk</button>
            <a href="/"><button>Powrót</button></a>
        </div>
    </div>
        <div class="food-choose">
            <table class="food-table">
            <thead class="thead-primary">
                <tr>
                    <th>&nbsp</th>
                    <th>Danie</th>
                    <th>Opis dania</th>
                    <th>Cena</th>
                    <th>Dodaj do koszyka</th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                <tr data-category="{{ product.category.name }}">
                    <td>
                        {% if product.image %}
                            <img src="{{ product.image.url }}" alt="{{ product.name }}" style="width: 50px; height: 50px;">
                        {% else %}
                            <img src="{% static 'images/default.png' %}" alt="Default Image" style="width: 50px; height: 50px;">
                        {% endif %}
                    </td>
                    <td>{{ product.name }}</td>
                    <td>{{ product.description }}</td>
                    <td>{{ product.price }} zł</td>
                    <td><button>Zamów</button></td>
                </tr>
                {% endfor %}
            </tbody>
            </table>
        </div>
    
</div>
</body>
</html>
